{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": false,
  "jsxBracketSameLine": false,
  "printWidth": 100, 
  "semi": false,
  "arrowParens": "always",
  "useTabs": false,
  "bracketSpacing": true,
  "endOfLine": "lf"
}
